.MovePosts-Button {
  .Button-labelText {
    display: flex;
    align-items: center;
    gap: 7px;
  }
}

.MovePosts-Button-count {
  position: static;
  box-shadow: none;
}

.Post--moving {
  background: color-mix(in srgb, var(--primary-color) 9%, transparent);
}

.MovePosts-Notification-targetDiscussion {
  font-weight: bold;
  font-style: italic;
}
